<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="layout::site-head">
</head>
<header th:replace="layout::logged-out"></header>
<body>
<h1>All technical posts</h1>
<main id="posts">
<post th:each="p:${posts}">
    <h2 th:text="${p.title}"></h2>
    Posted on: <span th:text="${p.date}"></span>
    <p th:text="${p.body}"></p>
</post>
    <!--

    <post th:with="p=${posts}">
        <h2 th:text="${p.title}"></h2>
        Posted on: <span th:text="${p.date}"></span>
        <p th:text="${p.body}"></p>
    </post>
    -->
</main>
</body>
</html>